<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
    <h1>Welcome in index</h1>
    <div>
        <p>Please login or create account:</p>
        <p>
            <a href="/users/login">Login</a>
            <a href="/users/signup">Signup</a>
        </p>
    </div>
<body>
    
</body>
</html>